#dossier vscode
.vscode

##All build files :

#Makefiles
Makefile
Examples/Makefile

#config files
config.*
!config.h.in

#all objects file
*.o
*/**/*.o

#examples bin files
Examples/example?

#simulator bin files
arm_simulator
send_irq
memory_test
registers_test