#vscode directory
.vscode

##All build files with automake :

#directories
.deps/
autom4te.cache/
Examples/.deps/

#Makefiles
Makefile
Examples/Makefile

#some config files
config.h
config.log
config.status

#all objects file
*.o
Examples/*.o

#examples bin files
Examples/example?
Examples/insertion_sort

#simulator bin files
arm_simulator
send_irq
memory_test
registers_test